<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" ></meta>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Edición del Estado</h1>

		<div class="card">
			<div class="card-header">Edición del Estado</div>
			<div class="card-body">

			
				<form th:action="@{/estado/save}" th:object="${estado}" 
					method="post">
					<div class="form-group">
						<label for="nombreEstado">Nombre:</label> 
						<input type="text" class="form-control" 
							placeholder="Nombre de estado"
							th:field="*{nombreEstado}">
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/estado}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>
			
			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>