<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragmen="head">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Human Resource Project">
<meta name="author" content="Juan Flores-Moroco">

<title>University</title>

<link rel="stylesheet"
	th:href="@{/dashboardFirst/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/dashboardFirst/css/chosen.min.css}">
<link rel="stylesheet"
	th:href="@{/dashboardFirst/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/dashboardFirst/css/solid.min.css}">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" th:href="@{/}">El Cajamarquino</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li sec:authorize="isAuthenticated()" class="nav-item active"><a
						class="nav-link" th:href="@{/dashboard}"><i
							class="fas fa-home"></i> Home <span class="sr-only">(current)</span>
					</a></li>

					<li sec:authorize="hasAnyRole('ROLE_ADMIN')"
						class="nav-item"><a class="nav-link" th:href="@{/menu}">
							<i class="fas fa-home"></i> Carta
					</a></li>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN')"
						class="nav-item"><a class="nav-link" th:href="@{/estado}">
							<i class="fas fa-home"></i> Estado
					</a></li>
					<li sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"
						class="nav-item"><a class="nav-link" th:href="@{/contacto}">
							<i class="fas fa-home"></i> Contacto
					</a></li>
					<li sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"
						class="nav-item"><a class="nav-link" th:href="@{/mesa}">
							<i class="fas fa-home"></i> Mesas
					</a></li>

					<li sec:authorize="hasAnyRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link" th:href="@{/cargo}">
							<i class="fas fa-user-tie"></i> Cargos
					</a></li>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link" th:href="@{/salario}">
							<i class="fas fa-money-bill-wave"></i> Salarios
					</a></li>
					<li sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"
						class="nav-item"><a class="nav-link" th:href="@{/reserva}">
							<i class="fas fa-home"></i> Reservas
					</a></li>
					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/login}"> <i class="fas fa-sign-in-alt"></i>
							Sign In
					</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link" th:href="@{/logout}"> <i class="fas fa-window-close"></i> Sign Out
					</a></li>
					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/usuario/register}"> <i
							class="fas fa-home"></i> Sign Up
					</a></li>
					<strong><span sec:authorize="isAuthenticated()"
						th:text="${#authentication.getPrincipal().getNombres()}">
							User</span></strong>
				</ul>
			</div>
		</nav>

	</header>
	<div class="container">
		<h1></h1>
	</div>
	<footer th:fragment="footer">
		<script th:src="@{/dashboardFirst/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/dashboardFirst/js/bootstrap.min.js}"></script>
		<script th:src="@{/dashboardFirst/js/chosen.jquery.min.js}"></script>
		<script th:src="@{/dashboardFirst/js/fontawesome.min.js}"></script>
		<script th:src="@{/dashboardFirst/js/sweetalert.min.js}"></script>
	</footer>
</body>
</html>