<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" ></meta>
<body>
<style>
body{
background-image: url("images/image_3.jpg");}
</style>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Lista de Mesas</h1>

		<div class="card text-center">
			<div class="card-header">Lista de Mesas</div>
			<div class="card-body">
				
				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
  					<span th:text="${dangerDel}"></span>
				</div>
			
			

			</div>
			<div class="card-footer text-muted">
				<!-- <a th:href="@{/mesa/nuevo}" class="btn btn-primary"><i class="fas fa-file-alt"></i> Nueva carta</a> -->
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>








