<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" ></meta>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Lista de Reservas</h1>

		<div class="card text-center">
			<div class="card-header">Lista de Reservas</div>
			<div class="card-body">
				
				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
  					<span th:text="${dangerDel}"></span>
				</div>
			
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nombre</th>
							<th scope="col">Telefono</th>
							<th scope="col">Email</th>
							<th scope="col">Cantidad de personas</th>
							<th scope="col">Fecha de Reserva</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="reserva: ${reservas}">
						<tr>
							<th scope="row" th:text="${reserva.codigoReserva}">Código</th>
							<td th:text="${reserva.nombreReservante}">Solicitante</td>
							<td th:text="${reserva.telefono}">Teléfono</td>
							<td th:text="${reserva.email}">Email</td>
							<td th:text="${reserva.cantidadPersonas}">Cantidad de Personas</td>
							<td th:text="${reserva.fechaReserva}">Fecha de Reserva</td>							
							<td>						
								<a  th:href="@{ '/reserva/del/' + ${reserva.codigoReserva} }" class="btn btn-danger"> 
									<i class="fas fa-trash-alt"></i> 
								</a>							
							</td>
							 
						</tr>						
					</tbody>
				</table>

			</div>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>








