<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<div class="row d-flex justify-content-center">
			<div class="col-md-2"><img src="..." class="img-fluid" alt="Responsive image"></div>
			<div class="col-md-2">word</div>
			<div class="col-md-2">hello</div>
			<div class="col-md-2">word</div>
			<div class="col-md-2">hello</div>
			<div class="col-md-2">word</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>