<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" ></meta>
<body>
<style>
body{
background-image: url("images/image_3.jpg");}
</style>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<div class="row d-flex justify-content-center py-5">
			<div class="col-md-4">
				<div class="card bg-warning" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Mesa 1</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Ver Más</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-danger" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Mesa 2</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Ver Más</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-success" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Mesa 3</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Ver Más</a>
					</div>
				</div>
			</div>
		</div>
		
			<div class="row d-flex justify-content-center py-5">
			<div class="col-md-4">
				<div class="card bg-info" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Mesa 4</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Ver Más</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Mesa 5</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Ver Más</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-secondary" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Mesa 6</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Ver Más</a>
					</div>
				</div>
			</div>
		</div>
		
			<div class="row d-flex justify-content-center py-5">
			<div class="col-md-4">
				<div class="card bg-success" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Mesa 7</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Ver Más</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-info" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Mesa 8</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Ver Más</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-warning" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Mesa 9</h5>
						<p class="card-text"></p>
						<a href="#" class="btn btn-primary">Ver Más</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>