<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" ></meta>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Edición del Menú</h1>

		<div class="card">
			<div class="card-header">Edición del Menú</div>
			<div class="card-body">

				<form th:action="@{/salario/save}" th:object="${salario}" 
					method="post">
					<div class="form-group">
						<label for="montoSalario">Monto:</label> 
						<input type="text" class="form-control" 
							placeholder="Monto"
							th:field="*{montoSalario}">
					</div>
					<div class="form-group">
						<label for="estado">Estado:</label> 
						<select th:field="*{estados}" class="form-control">
					      <option th:each="estado : ${estados}"
					      	th:value="${estado.codigoEstado}" th:text="${estado.nombreEstado}"></option>
					    </select>
						
					</div> 
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/salario}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>
			
			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>