<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" ></meta>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1 class="text-white">Información del Salario</h1>

		<div class="card text-center">
			<div class="card-header">Información del Salario</div>
			<div class="card-body">
				
				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
  					<span th:text="${dangerDel}"></span>
				</div>
			
			
				<form>
				  <div class="form-group row">
				    <label for="nombrePlatoMenu" class="col-sm-2 col-form-label">Nombre :</label>
				    <div class="col-sm-10">
				      <input type="text" readonly th:value="${menu.nombrePlatoMenu}" class="form-control-plaintext" >
				    </div>
				  </div>				  
				  
				  <div class="form-group row">
				    <label for="estado" class="col-sm-2 col-form-label">Estado :</label>
				    <div class="col-sm-10">
				      <input type="text" readonly th:value="${menu.estados.nombreEstado}" class="form-control-plaintext" >
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="descripcion" class="col-sm-2 col-form-label">Descripción: </label>
				    <div class="col-sm-10">
				      <input type="text" readonly th:value="${menu.descripcion}" class="form-control-plaintext" >
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="precio" class="col-sm-2 col-form-label">Precio :</label>
				    <div class="col-sm-10">
				      <input type="text" readonly th:value="${menu.precio}" class="form-control-plaintext" >
				    </div>
				  </div>
				</form>
			
	

			</div>
		
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>








