<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" ></meta>
<body>
<style>
body{
background-image: url("images/image_3.jpg");}
</style>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1 class="text-white">Lista de Mensajes de contacto</h1>

		<div class="card text-center">
			<div class="card-header">Lista de Mensajes de contacto</div>
			<div class="card-body">
				
				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
  					<span th:text="${dangerDel}"></span>
				</div>
			
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Solicitante</th>
							<th scope="col">Email</th>
							<th scope="col">Asunto</th>
							<th scope="col">mensaje</th>
							<th scope="col">Estado</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="contacto: ${contactos}">
						<tr>
							<th scope="row" th:text="${contacto.codigoContacto}">Código</th>
							<td th:text="${contacto.nombreContacto}">Solicitante</td>
							<td th:text="${contacto.email}">Email</td>
							<td th:text="${contacto.nombreAsunto}">Asunto</td>
							<td th:text="${contacto.mensaje}">mensaje</td>							
							<td>						
								<a  th:href="@{ '/contacto/del/' + ${contacto.codigoContacto} }" class="btn btn-danger"> 
									<i class="fas fa-trash-alt"></i> 
								</a>							
							</td>
							 
						</tr>						
					</tbody>
				</table>

			</div>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>








